@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
	background:#080C4D;
	color:white;
	font-family:Roboto,sans-serif;
	font-weight:bold;
	vertical-align:middle;
}

main {
	background:#535AB5;
	margin-left:auto;
	margin-right:auto;
	border: solid 3px black;
	width:80%;
	padding:2em;
	vertical-align:middle;
}
input.b {
	background:rgba(255,255,255,.0);
	border:white 1px solid;
	border-radius:20px;
	padding:1em;
	color:white;
	font-weight:bold;
	transition:background .2s;
	cursor:pointer;
	width:20%;
	margin-left:2em;
	font-family:Roboto,sans-serif;
}
input.b:hover {
	background:rgba(255,255,255,.5);
}
.chartContainer {
	display:inline-block;
	//border: blue solid 3px;
	width:45%;
	padding:1em;
	//float:right;
}
.chart {
	width:80%;
}
/*.center {
	text-align:center;
}*/
.buttons {
	clear:both;
	//border:black solid 2px;
	text-align:center;
	margin:1em;
	margin-left:0;
	margin-right:0;
}
.tableContainer {
	//border:2px black solid;
	display:inline-block;
	width:45%;
	line-height:2em;
	text-align:center;
	padding:1em;
	//float:left;
}
.label {
	text-align:center;
	font-size:1.5em;
}
.mainContainer {
	//border: 2px solid black;
	min-height:15em;
	overflow:auto;
	text-align:center;
}
.mainContainer > div {
	vertical-align:middle;
}
.svgContainer {
	//width:100%;
}
svg{
	border: black solid 3px;
}
ul {
	list-style-type:square;
}
table rect {
	//stroke-width:20;
	//stroke:black;
}
table {
	width:100%;
}
tbody {
	display:block;
	width:100%;
	border-radius:40px;
	margin-bottom:1em;
	cursor:pointer;
	background:rgba(255,255,255,0);
	border:solid 1px white;
	transition: background .2s;
}
tbody:hover {
	background:rgba(255,255,255,.5);
}
td.colorRect {
	width:60%;
}
svg.rect {
	vertical-align:middle;
	width:10%;
}
.plus {
	background:rgba(255,255,255,0);
	border: 1px white solid;
	border-radius:100px;
	width:10%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	cursor:pointer;
	transition: background .2s;
}
.plus:hover {
	background:rgba(255,255,255,.5);
}
div.dialogBackground {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5)
	display:none;
	z-index:-1;
}
div.dialog {
	/*position:absolute;
	left:37%;
	z-index:2;
	top:35%;
	padding:2em;
	background:#585C9D;
	display:none;*/
	text-align:center;
}
.dialog input {
	margin:.5em;
	width:80%;
}
.dialog .b {
	width:40%;
}
.error {
	color:white;
	font-size:.8em;
}
