html {
}
body {
	padding:3.5% 0;
	margin:0;
	background:#080C4D;
	color:white;
	font-family:Roboto,sans-serif;
	vertical-align:middle;
	height:100%;
}

main {
	background:#535AB5;
	margin:0;
	margin-left:auto;
	margin-right:auto;
	border: solid 3px black;
	width:80%;
	//padding:2em;
	padding:2%;
	vertical-align:middle;
}
input.b {
	background:rgba(255,255,255,.0);
	border:white 1px solid;
	border-radius:20px;
	padding:1em;
	color:white;
	font-weight:bold;
	transition:background .2s;
	cursor:pointer;
	width:20%;
	margin-left:2em;
	font-family:Roboto,sans-serif;
}
.chartContainer {
	display:inline-block;
	width:45%;
	padding:1em;
	overflow:hidden;
	text-align:center;
}
.buttons {
	clear:both;
	text-align:center;
	margin:1em;
	margin-left:0;
	margin-right:0;
}
.tableContainer {
	display:inline-block;
	width:45%;
	line-height:2em;
	text-align:center;
	padding:1em;
}
.label {
	text-align:center;
	font-size:1.5em;
}
.mainContainer {
	//border: 2px solid black;
	min-height:15em;
	overflow:hidden;
	text-align:center;
}
.mainContainer > div {
	vertical-align:middle;
}
.svgContainer {
	width:85%;
	height:0;
	padding-top:85%;
	position:relative;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
}
.svgContainer svg {
	overflow:hidden;
	position:absolute;
	top:0%;
	left:0%;
	width:98%;
}
svg{
	border: black solid 3px;
}
ul {
	list-style-type:square;
}
.table {
	width:100%;
}
.tbody {
	display:block;
	width:100%;
	border-radius:40px;
	margin-bottom:1em;
	cursor:pointer;
	background:rgba(255,255,255,0);
	border:solid 1px white;
	transition: background .2s;
	vertical-align:middle;
	padding:.5em;
}
.tbody > div {
	vertical-align:middle;
	display:inline-block;
	text-align:center;
}
.colorRect {
	width:55%;
}
.paddingHack {
	display:block:
	width:13%;
	position:relative;
	height:0;
	padding-top:13%;
}
.data {
	width:43%;
}
svg.rect {
	position:absolute;
	top:0;
	vertical-align:middle;
	width:12%;
}
.plus {
	background:rgba(255,255,255,0);
	border: 1px white solid;
	border-radius:100px;
	width:10%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	cursor:pointer;
	transition: background .2s;
}
.plus:hover,input.b:hover, .tbody:hover  {
	background:rgba(255,255,255,.5);
}
.plus:active,input.b:active, .tbody:active  {
	background:rgba(255,255,255,1);
}
div.dialogBackground {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	display:none;
	z-index:-1;
}
div.dialog {
	/*position:absolute;
	left:37%;
	z-index:2;
	top:35%;
	padding:2em;
	background:#585C9D;
	display:none;*/
	text-align:center;
}
.dialog input {
	margin:.5em;
	width:80%;
}
.dialog .b {
	width:40%;
}
.error {
	color:white;
	font-size:.8em;
}
.grid .tick {
    stroke: grey;
    stroke-opacity:.7;
    shape-rendering: crispEdges;
}
.grid path {
          stroke-width: 0;
}
.bars {
	fill-opacity:.8;
}
text {
	font-size:.8em;
	fill:black;
	fill-opacity:1;
	stroke-width:0;
}
