<!DOCTYPE html>
<html lang="en" ng-app="MinIONApp">
	<head>
		<title>MinION interface</title>
		<link rel="stylesheet" href="./css/style.css" type="text/css" />
		<link rel="stylesheet" href="./css/ngDialog.css" type="text/css" />
		<link rel="stylesheet" href="./css/ngDialog-theme-default.css" type="text/css" />
		<meta charset="utf-8" />
	</head>

	<body ng-controller="SequenceListCtrl" ng-keypress="dialogOpen && enterKey($event,id) && dialogClose()">
	
		<main>
		<div class="mainContainer">
			<div class="tableContainer">
				<table>

					<tbody ng-repeat="sequence in sequences"id="seq{{$index}}" ng-click="dialog($index)" >
					<tr><td rowspan="2" class="colorRect"><minion-rectangle /></td><td>{{sequence.name}}</td></tr>
					<tr><td>{{ sequence.prob | number: 5}} %</td></tr>
					</tbody>

				</table>

				<div class="plus" ng-click="dialog()">
					+
				
				</div>

			</div>
		
			<div class="chartContainer">
				<div class="svgContainer">
					<bars-chart chart-data="sequences"></bars-chart>
				</div>

				<div class="label">Samples analysed: {{global.counter | bigNumber}}</div>
				
			</div>
		</div>

			<div class="buttons">
				<input class="b" type="button" name="save" value="SAVE REPORT" ng-click="save()" />
				<input class="b" type="button" name="clear" value="CLEAR" ng-click="clear()" />
				<input class="b" type="button" name="start" value="START" ng-disabled="global.collection" ng-click="startDataCollection()" />
				<input class="b" type="button" name="stop" value="STOP" ng-disabled="!global.collection" ng-click="stopDataCollection()" />
			</div>

		
		</main>

		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
		
		<script src="bower_components/d3/d3.js"></script>
		<script src="bower_components/ngDialog/js/ngDialog.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/services.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>

	</body>


</html>
